@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminDashboard.cshtml";
    ViewData["Title"] = "Edit Admin Profileetails";
}

<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>

@model DomainModel.EditAdminFullDetails.EditAdminFullDetails

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/23.1.4/css/dx.light.css" />
<script src="https://cdn3.devexpress.com/jslib/23.1.4/js/dx.all.js"></script>
<script>
    var userId = @Model.UserId;
</script>
<script src="~/js/EditAdminDetails.js"></script>
<link rel="stylesheet" href="~/css/editAbminFullDetails.css">

<style>
    
</style>

<body class="dx-viewport" style="margin-top: 100px;">
    <div class="demo-container">
        <div id="form">
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>