/****** Object:  Table [dbo].[Table_UserTracking]    Script Date: 06-09-2023 15:48:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Table_UserTracking]') AND type in (N'U'))
DROP TABLE [dbo].[Table_UserTracking]
GO
/****** Object:  Table [dbo].[Table_UserTracking]    Script Date: 06-09-2023 15:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_UserTracking](
	[UserTrackingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserFirstName] [nvarchar](50) NULL,
	[UserLastName] [nvarchar](50) NULL,
	[UserEmail] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[Comment] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_UserTracking] PRIMARY KEY CLUSTERED 
(
	[UserTrackingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
