
@{
    ViewData["Title"] = "Job Applications";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h1>Job Applications</h1>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
</body>
</html>
