@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminDashboard.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    
    </head>
    <body>

    </body>
    </html>
