
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Kodchasan:ital,wght@0,400;0,600;0,700;1,500;1,700&family=Montserrat:wght@500&family=Poppins:wght@300;400;600;700;800&family=Roboto&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/aboutus.css">
    <title>Job Portal</title>
</head>

<div class="container-fluid p-0 maincontainer">

    <div class="col-lg-12 about-header">
        <div class="main-about p-4">
            <div class="col-lg-6 about-title">
                At the forefront of the<br> digital innovation in life<br> sciences
            </div>
            <div class="col-lg-6 about-image">
                <img src="~/images/Croods Friends (1).png" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="about-details">
        <h1>About US</h1>
        <div class="details-part">
            Formed in 2008, i2e Consulting is a software services company delivering both consultancy services<br>
            and
            tailored technology solutions for organizations in the pharmaceutical industry.<br>
            Named one of the fastest growing private companies in the US in the 2018 Inc. 5000, i2e Consulting<br>
            are
            leading the way when it comes to the digitization of the healthcare industry. With clients across<br>
            multiple industries, principally pharmaceutical and finance, we’re able to provide value to<br>
            organizations of any size with our services and solutions.<br>
            i2e Consulting is ISO9001 and ISM27001 certified which is a recognition of our commitment towards<br>
            continuous improvement of process and data security.<br>
            We’re a Microsoft Certified Gold Partner, utilising the power of the cloud with tailored Office 365,<br>
            SharePoint and Azure solutions.
        </div>
    </div>
    <div class="col-lg-12 our-value">
        <div class="our-value-main">
            <h1>Our Values</h1>
            <div class="value-part">
                <div class="customer-commit">Customer commitment</div>
                <div class="customer-details">
                    We go beyond the ask to solve our customer business problems and
                    delight them!
                </div>
            </div>
            <div class="value-part">
                <div class="customer-commit">
                    Hire & Develop the Best
                </div>
                <div class="customer-details">
                    We hire the best talent and helps them thrive even more in the
                    organization.
                </div>
            </div>
            <div class="value-part">
                <div class="customer-commit">
                    Humility and Respect
                </div>
                <div class="customer-details">
                    Treat people with courtesy, politeness, and kindness.
                </div>
            </div>
            <div class="value-part mb-5">
                <div class="customer-commit">
                    Inclusion and Diversity
                </div>
                <div class="customer-details">
                    We create an inclusive work environment and celebrate our Diversity.
                </div>
            </div>
        </div>
    </div>
    <div class="employee-grp-img p-4">
        <div class="emp-img-main mt-5">
            <div class="img-first">
                <img src="~/images/1.png" class="first-img" alt="" srcset="">
                <img src="~/images/1 (1).png" class="second-img" alt="" srcset="">
            </div>
        </div>
    </div>
</div>