
@{
    ViewData["Title"] = "AllJobs";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Kodchasan:ital,wght@0,400;0,600;0,700;1,500;1,700&family=Montserrat:wght@500&family=Poppins:wght@300;400;600;700;800&family=Roboto&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/job.css">
    <title>Job Portal</title>
</head>

<div class="container-fluid p-0 maincontainer">

    <div class="col-lg-12 jobs">
        <div class="job-main">
            <div class="opening-details mb4">
                <h1>Current Job Openings</h1>
                <div class="d-flex mb-5 filter-buttons">
                    <div class="select-box">
                        <span><i class="fa-solid fa-angle-down angle-icon"></i></span>
                        <select class="form-select form-select-lg mb-3 me-4 select-btn"
                                aria-label=".form-select-lg example">
                            <option selected>Experience</option>
                            <option value="1">0-1yrs</option>
                            <option value="2">1-3yrs</option>
                            <option value="3">above 5yrs</option>
                        </select>

                    </div>
                    <div class="select-box1">
                        <span><i class="fa-solid fa-angle-down angle-icon"></i></span>
                        <select class="form-select form-select-lg mb-3 me-4 select-btn"
                                aria-label=".form-select-lg example">
                            <option selected>Job Type</option>
                            <option value="1">Full-time</option>
                            <option value="2">Part-time</option>
                            <option value="3">Intern</option>
                        </select>

                    </div>
                    <div class="select-box2">
                        <span><i class="fa-solid fa-angle-down angle-icon  angle-icon"></i></span>
                        <select class="form-select form-select-lg mb-3 me-4 select-btn"
                                aria-label=".form-select-lg example">
                            <option selected>Job Mode</option>
                            <option value="1">Remote</option>
                            <option value="2">Office</option>
                            <option value="3">Hybrid</option>
                        </select>
                    </div>

                    <a href="#" class="search-filter">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>

                <div class="col-lg-9 mb-5 opening-list">
                    <div class="row ms-5 g-4">


                        @foreach (var item in Model)
                        {
                            <div class="col-sm-4 cardmain">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-lg d-flex justify-content-between card-body-main">
                                            <div class="job-type">
                                                <div class="job-name">@item.JobTitle</div>
                                                <div class="job-location">
                                                    <i class="fa-solid fa-location-dot me-2"></i>@item.JobMode_Home
                                                </div>
                                            </div>
                                            <div class="apply-btn d-flex align-items-end flex-column mb-3">
                                                <button class="mt-auto apply" id="apply-jobs" onclick="OpenDetails(@item.JobId)">
                                                    View Details
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function OpenDetails(JobId) {
        // Redirect to the event details page, passing the event ID as a query parameter
        window.location.href = '/Home/Details?id=' + JobId;
    }
</script>

@*<script src="~/js/jobView.js"></script>*@
<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
