
@{
    ViewData["Title"] = "AppliedJobs";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

<h1>AppliedJobs</h1>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- DevExtreme theme -->
<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.3/css/dx.light.css">

<!-- DevExtreme library -->
<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/23.1.3/js/dx.all.js"></script>

<script src="~/js/AppliedJobsUserside.js"></script>"
<style>
    h1{
        color:darkblue;
        text-align:center
    }
</style>

     <h2> My Applied Jobs </h2>
     <body class="dx-viewport">
    <div id="dataGrid"> </div>
     </body>
     
     