/****** Object:  View [dbo].[v_ContactQueries]    Script Date: 06-09-2023 15:51:24 ******/
DROP VIEW [dbo].[v_ContactQueries]
GO
/****** Object:  View [dbo].[v_ContactQueries]    Script Date: 06-09-2023 15:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[v_ContactQueries]
as
select * from Table_ContactQueries
GO
