body {
    height: 100%;
    font-family: "Poppins";
    font-family: "Inter", sans-serif;
    font-family: "Kodchasan", sans-serif;
    font-family: "Roboto", sans-serif;
}

.maincontainer {
  max-width: 1920px;
  margin: auto;
  background-color: #FFFFFF;
}
.maincontainer .navbars {
  width: 85%;
  margin: auto;
}
.maincontainer .navbars .logo-section {
  display: flex;
  align-self: center;
}
.maincontainer .navbars .menu-contains .navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: flex-end;
}
.maincontainer .navbars .menu-contains .nav-item {
  margin: 0px 10px;
}
.maincontainer .navbars .menu-contains .nav-item .nav-link {
  color: #000000;
  font-family: "Poppins";
  font-weight: 400;
}
.maincontainer .navbars .menu-contains .nav-item .active {
  color: #000000;
  font-family: "Poppins";
  font-weight: 800;
}
.maincontainer .title-info {
  text-align: center;
  font-weight: 600;
  font-family: "Poppins";
 margin-top: 100px;
}
.maincontainer .contact-us-main {
  width: 85%;
  margin: auto;
}
.maincontainer .contact-us-main .contact-us {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #dce9fb;
  position: relative;
}
.maincontainer .contact-us-main .contact-us .form-label {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
}
.maincontainer .contact-us-main .redcolor {
  color: red;
}
.maincontainer .contact-us-main .btn-style-new {
  position: relative;
  line-height: 29px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #000;
  padding: 10px 25px;
  font-family: Poppins, sans-serif;
  border-right: 50px solid #008bff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.maincontainer .contact-us-main .btn-style-new:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f054";
  right: -40px;
  height: 1px;
  width: 20px;
  margin-top: -1px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.maincontainer .contact-us-main .btn-style-new:hover {
  margin-left: 5px;
}
    .maincontainer .contact-info {
        margin-top: 155px;
    }
.contact-info-main1 {
    width: 100%;
    box-shadow: 0 0 10px #dce9fb;
    padding: 24px;
    background-color: #fffdd02e;
    border-radius: 10px;
    height: 45%;
}

.maincontainer .contact-info-main1 h4 {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
}
.maincontainer .contact-info-main1 ul,
.maincontainer .contact-info-main1 li {
  list-style: none;
}
.maincontainer .contact-info-main1 p {
  font-size: 16px;
}
.maincontainer .contact-info-main1:after {
  border-radius: 15px;
}
.map-details {
    background-image: url("/Images/city1.png");
    height: 255px;
    width: 100%;
    border-radius: 10px;
}
/*.maincontainer .contact-info-main:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 139, 255, 0.9) none repeat scroll 0 0;
  z-index: -1;
}*/
.maincontainer .footer-main {
    background-color: #202020;
}
.maincontainer .footer-main .footer-contain {
  width: 85%;
  margin: auto;
  padding: 20px 0px 20px 0px;
}
.maincontainer .footer-main .text-footer {
  color: #FFFFFF;
  font-size: 10px;
}/*# sourceMappingURL=contactus.css.map */

@media only screen and (max-width: 768px) {

    .GetIn-main {
        flex-direction: column;
    }

    .map-details {
        width: 95%;
        margin: 20px;
    }
}