
/*------------ Login container ------------*/

.box-area {
    width: 930px;
}
.bx-shdow {
    box-shadow: 0 4px 10px 0 rgba(0,117,194,0.20);
}
/*------------ Right box ------------*/
.right-box {
    padding: 5px 20px 0px 20px;
}

.header-text h2 {
    color: #000000;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px;
}
.header-text p {
    color: #000000;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
}

.form-check-label {
    color: #000000;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
}

.right-box .btn {
    font-family: "Poppins";
    font-weight: 400;
    background-color: #008BFF;
    border:none;
}
    .right-box .btn:hover {
        font-family: "Poppins";
        font-weight: 600;
        background-color: #008BFF;
        border: none;
    }

.right-box h6 {
  
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
}
/*------------ Custom Placeholder ------------*/
::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}


/*------------ For small screens------------*/

/*@media only screen and (max-width: 768px) {

    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}
*/